*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.main{
    width: 40vw;
    height: 20vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    /* background-color: pink; */
}
input{
    width: 250px;
    height: 25px;
    border-color: rgb(190, 189, 189);
}
input::placeholder{
    text-align: center;
}
.main button{
    width: 80px;
    height: 25px;
    margin-top: 5px;
    background-color: rgb(255, 0, 0);
    border: none;
    color: #fff;
}
::selection{
    color: #fff;
    background-color: rgb(255, 0, 234);
}
.fake-data{
    /* display: grid;
    justify-content: center;
    grid-template-rows:30px 30px;
    grid-template-columns: 200px 150px; */
    display: flex;
    text-align: center;
    flex-direction: column;
    border: 1px solid black;
    margin: 2px;
}
.hide{
    display: none;
}